* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* Primary colors */
  --red-400: hsl(0, 100%, 74%);

  --green-400: hsl(154, 59%, 51%);
  --green-500: hsl(154, 67%, 38%);

  /* Accent */
  --purple-700: hsl(248, 32%, 49%);
  --purple-800: hsl(247, 35%, 41%);

  /* Neutral */
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);
}
/* Font weights: 400, 500, 600, 700 */

html {
  font-size: 62.5%;
}
body {
  background-color: var(--red-400);
  background-image: url(images/bg-intro-desktop.png);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  width: 70%;
  display: flex;
  color: white;
  gap: 4rem;
}
h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
  padding-bottom: 2rem;
}
h2 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--purple-350);
  margin-top: 1rem;
}
.left-side {
  margin: auto 0;
}
.left-side,
.right-side {
  flex: 1;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.75rem;
}
.err-border {
  border: 0.2rem solid var(--red-400);
}
.empty-box {
  color: black;
  text-align: end;
  color: var(--red-400);
  font-weight: 500;
  font-style: italic;
  padding-bottom: 0.75rem;
}
.closed {
  display: none;
}
.btn {
  height: 5rem;
  border-radius: 1rem;
  border: none;
}
.try {
  display: block;
  width: 100%;
  background-color: var(--purple-700);
  margin-bottom: 2rem;
  color: white;
  box-shadow: 0rem 1.5rem 0.5rem -1rem var(--gray-900);
  /* Value meaning (in order of appearance) -horizontal offset,vertical offset, blur, spread, color
 */
}
.try:hover,
.claim:hover {
  box-shadow: 0rem 0rem 1.5rem var(--gray-900);
  cursor: pointer;
}
.try:active {
  transform: scale(0.98);
  background-color: var(--purple-800);
  font-size: 1.3rem;
}
.try:focus,
.claim:focus {
  outline: none;
  box-shadow: 0rem 0rem 0.5rem 0.5rem var(--gray-900);
}
.claim:active {
  transform: scale(0.98);
  background-color: var(--green-500);
  font-size: 1.3rem;
}
.bold {
  font-weight: 600;
}
br {
  display: none;
}
.form-row {
  position: relative;
}
img {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}
input {
  width: 100%;
  height: 5rem;
  margin: 0.8rem 0;
  padding-left: 2rem;
  border: 0.1rem solid var(--purple-350);
  border-radius: 0.5rem;
  font-weight: 600;
  color: var(--gray-900);
}
input:focus {
  outline: none;
  border: 0.1rem solid var(--gray-900);
}

.red::placeholder {
  color: var(--red-400);
}
.gray::placeholder {
  color: var(--gray-900);
}

img {
  height: 2rem;
  width: 2rem;
}
.claim {
  background-color: var(--green-400);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: inset 0rem -0.5rem 0.5rem var(--purple-350);
}
.highlight {
  color: var(--red-400);
  font-weight: 600;
}
p {
  font-weight: 400;
  font-size: 1.5rem;
}
footer {
  position: fixed;
  bottom: 0;
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
